body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav {
    background: #444;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

nav ul li a:hover {
    background: #555;
    border-radius: 4px;
}

main {
    flex: 1;
    padding: 2rem;
    background: #f9f9f9;
    height: 175vh;
}
.about-flex {
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 2rem;
    background-color: rgb(224, 224, 224);
    margin-right: auto;
    border-radius: 10px;

}

.about-flex img {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
}

.about-flex .about-text {
    max-width: 400px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    
}

header{
    font-family: 'Arial Black', sans-serif;
    font-size: 2rem;
}